#Kenya{
    border:3px chocolate;
    text-align: left;
    font-family: fantasy;
    background: cadetblue;
    color: white;
}
#Tanzania{
    border: 3px deepskyblue;
    text-align: left;
    font-family: fantasy;
    background: beige;
    color: black;
}
#canada{
    border: 3px gold;
    text-align: left;
    font-family: fantasy;
    background: cornflowerblue;
    color: white;
}